<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orgibly.words">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_vocabulary_ll"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_vocabulary_ll"
        android:supportsRtl="false"
        android:theme="@style/NoTitleTheme">
        <activity android:name=".NewWordActivity"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyWordsActivity">
        </activity>
        <activity android:name=".QuizActivity">

        </activity>

    </application>

</manifest>